<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <h1><%= @cocktail.name %></h1>

  <div class='right btn btn-primary'>
    <%= link_to "<< List", cocktails_path %>
  </div>
</div>

<div class="content">
  <br/>
  <h5>Ingredients:</h5>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><div class='btn btn-danger'>
    <%= link_to "-", cocktail_dose_path(@cocktail, dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  </div><strong><%= dose.description %></strong> <%= dose.ingredient.name %>
    </li>
    <% end %>
  </ul>
  <div class="item">
    <h5>Add an ingredient</h5>
    <%= render 'cocktails/dose_form', dose: @dose %>
  </div>


  <div class='btn btn-success'>
    <%= link_to "Edit", edit_cocktail_path(@cocktail.id) %>
  </div>
  <div class='btn btn-danger'>
    <%= link_to "Delete", cocktail_path(@cocktail.id),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  </div>
</div>
